.main_banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    background-image: url("../../../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 60px;
}

.main_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141414;
    opacity: 0.4;
}

.content_banner {
    z-index: 1;
}

.title {
    font-size: 66px;
    color: #ffffff;
    text-shadow: 4px 4px 7px rgba(0, 0, 0, 0.7);
    text-align: start;
}

.title h1 {
    font-size: 66px;
}
