.main_banner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url("../../../assets/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-bottom: 60px;
}

.main_banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #141414;
    opacity: 0.4;
}

.content_banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
}

.title {
    color: white;
    margin-bottom: 40px;
}

.title h1 {
    font-size: 36px;
    line-height: 1.4;
    margin-bottom: 40px;
}

.mobileLogo {
    display: none;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .title h1 {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 30px;
    }
    
    .title h1 br {
        display: none; /* Убираем переносы строк на мобильных */
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .mobileLogo {
        margin-bottom: 20px;
    }
}
