.map_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 37%;
    height: 400px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .map_container {
        height: 400px;
    }
}

@media (max-width: 480px) {
    .map_container {
        height: 300px;
    }
}