@media (max-width: 768px) {
    .logo_container {
        display: none;
    }
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

@media (max-width: 800px) {
    .header {
        padding: 10px;
    }
}