.footer {
    background-color: #f2f2f2;
    border-bottom: 1px solid #ababab;
}

.title {
    font-size: 60px;
    text-align: center;
    padding: 60px;
}

.contact_content {
    display: flex;
    justify-content: start;
    align-items: center;
}

.text_content_wrapper {
    padding: 60px;
}

.text_content_wrapper h5 {
    font-size: 30px;
}

.text {
    font-size: 25px;
}

.text_phone {
    font-size: 25px;
    text-decoration: none;
    color: black;
}

